html{
    width: 1024px;
    height: 768px;
}

body{
    background-color: black;
}

table{
    padding: 1px;
    margin: 1px; margin: auto;
}

tr{
    padding: 18px;
}

td{
    padding: 60px;
}


/* Movimiento Vertical*/
.Naruto{
    width: 130%;
    border: 3px solid  rgb(42, 160, 227);
    float:left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;

}


.Naruto:hover{
    margin-top: 10px;
   


}

/*---------Movimiento giro----------------------------------------------------------*/

.Naruto2{
    width:130% ;border: 3px solid;
    border: 5px solid  rgb(42, 85, 227);
    float:left;
    -webkit-box-shadow: 4px 4px 4px rgb(42, 85, 227);
    -moz-box-shadow: 4px 4px 4px rgb(42, 85, 227);;
    -box-shadow: 4px 4px 4px rgb(42, 85, 227);

    -webkit-transition: all 0.5s ease-out ;
    -moz-transition: all 0.5s ease-out;
    -o-transition:all 0.5s;
    
}

.Naruto2:hover{
    -webkit-transform: rotate(359deg);
    width:50% ;border: 3px solid ;
    rotate: 180deg;

}

/*---Hacer grande---*/
.Naruto3{
    width: 130%;
    border: 5px solid  rgb(42, 160, 227);
    float:left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;

}
.Naruto3:hover{
    transform: scale(1.5);
    width:50% ;border: 3px solid ;

}

/*---Sombreado---*/
.Naruto4{
    width: 130%;
    margin: 25px; opacity: 0.9;
    border: 0px  solid rgb(42, 160, 227);
   
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;

    -webkit-box-reflect: below 0px -webkit-gradientlinear(left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

.Naruto4:hover{
    width:170%;
    opacity: 10;
    -webkit-box-reflect: below 0px -webkit-gradientlinear(left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255,0.8);
    -moz-box-shadow:0px 0px 20px rgba(255, 255, 255,0.8);
    box-shadow:0px 0px 20px rgba(255, 255, 255,0.8);
    box-shadow: 0px 0px 20px rgba(255, 255, 255,0.8);
    box-shadow: 0px 0px 20px rgba(255, 255, 255,0.8); 
}
